In [1]:
import pandas as pd
import glob

In [2]:
csvfiles = glob.glob("data/*.csv")

dfs = []

for file in csvfiles:
    df = pd.read_csv(file)
    
    dfs.append(df)
    
data = pd.concat(dfs)

data

,Unnamed: 0,agency,firename,lat,lon,startdate,hectares,stage_of_control,timestamp
0,0,pc,2022RM1,50.7606,-99.6775,2022-05-25 14:37:57,400.0,UC,2022-06-14 12:37:45+00:00
1,1,nt,FS004-22,63.7368,-121.369,2022-06-02 22:49:00,190.0,OC,2022-06-14 12:37:45+00:00
2,2,nt,FS003-22,62.1872,-121.94,2022-06-02 22:58:00,1211.0,OC,2022-06-14 12:37:45+00:00
3,3,yt,2022WL001,60.0275,-128.745,2022-05-23 03:49:00,2.0,UC,2022-06-14 12:37:45+00:00
4,4,bc,2022-G80265,57.3972,-122.377,2022-06-03 22:56:00,545.0,UC,2022-06-14 12:37:45+00:00
...,...,...,...,...,...,...,...,...,...
0,0,ab,EWF-002-2023,53.2075,-116.817,2023-02-13 01:00:00,1.3,UC,2023-02-18 12:34:16+00:00
0,0,ab,RWF-002-2023,51.6567,-115.374,2023-02-20 02:52:00,0.01,OC,2023-02-22 00:34:14+00:00
0,0,ab,RWF-002-2023,51.6567,-115.374,2023-02-20 02:52:00,0.01,OC,2023-02-22 12:34:25+00:00
0,0,ab,RWF-002-2023,51.6567,-115.374,2023-02-20 02:52:00,0.01,OC,2023-02-23 00:34:17+00:00
0,0,ab,RWF-002-2023,51.6567,-115.374,2023-02-20 02:52:00,0.01,OC,2023-02-23 12:34:43+00:00

In [3]:
pivot = data.loc[data["agency"] != "ak", :].pivot_table(index="firename", values="timestamp", aggfunc="nunique").sort_values("timestamp", ascending=False)

pivot.head(5)

               timestamp
firename
MWF-022-2022        1121
Moose                957
SS018-22             939
Diamond Watch        931
2022-R90436          904

In [4]:
pivot["duration"] = (pivot["timestamp"] * 2) / 24

pivot.head(5)

               timestamp   duration
firename
MWF-022-2022        1121  93.416667
Moose                957  79.750000
SS018-22             939  78.250000
Diamond Watch        931  77.583333
2022-R90436          904  75.333333

In [5]:
data = data.dropna(subset="startdate")

In [6]:
data[data["startdate"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, agency, firename, lat, lon, startdate, hectares, stage_of_control, timestamp]
Index: []

In [7]:
data["startdate"] = pd.to_datetime(data["startdate"], errors="coerce")

C:\Users\dexmc\AppData\Local\Temp\ipykernel_10036\4210336447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["startdate"] = pd.to_datetime(data["startdate"], errors="coerce")

In [8]:
starts = data[["firename", "startdate"]].groupby("firename").min()

starts.head(5)

                      startdate
firename
01-005-2022 2022-07-25 18:54:37
01-006-2022 2022-07-28 07:00:00
01-007-2022 2022-09-16 07:00:00
03-005-2022 2022-07-11 22:00:00
03-006-2022 2022-08-05 07:00:00

In [9]:
pivot = pivot.join(starts)

pivot

               timestamp   duration           startdate
firename
MWF-022-2022        1121  93.416667 2022-06-14 00:43:00
Moose                957  79.750000 2022-07-17 16:00:00
SS018-22             939  78.250000 2022-06-16 23:06:00
Diamond Watch        931  77.583333 2022-07-14 18:00:00
2022-R90436          904  75.333333 2022-07-03 01:10:00
...                  ...        ...                 ...
365                    1   0.083333 2022-08-21 14:00:00
364                    1   0.083333 2022-08-15 18:52:00
362                    1   0.083333 2022-08-20 19:00:00
361                    1   0.083333 2022-08-20 19:49:00
2022-K22315            1   0.083333 2022-09-08 00:05:00

[3914 rows x 3 columns]

In [10]:
fire1 = data[data["firename"] == "MWF-022-2022"] 

fire1

,Unnamed: 0,agency,firename,lat,lon,startdate,hectares,stage_of_control,timestamp
78,78,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,40.0,BH,2022-06-14 12:37:45+00:00
68,68,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,40.0,BH,2022-06-14 14:37:50+00:00
61,61,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,40.0,BH,2022-06-14 16:37:33+00:00
55,55,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,40.0,BH,2022-06-14 18:37:38+00:00
52,52,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,40.0,BH,2022-06-14 20:38:03+00:00
...,...,...,...,...,...,...,...,...,...
138,138,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,33207.1,UC,2022-10-31 09:50:15+00:00
134,134,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,33207.1,UC,2022-10-31 12:53:13+00:00
134,134,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,33207.1,UC,2022-10-31 15:51:32+00:00
136,136,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,33207.1,UC,2022-10-31 18:50:22+00:00
131,131,ab,MWF-022-2022,59.4184,-110.813,2022-06-14 00:43:00,33207.1,UC,2022-10-31 21:50:20+00:00

In [23]:
test = pd.read_csv("https://raw.githubusercontent.com/dexmcmillan/cbc-homepage-screenshots/main/data/headlines.csv", header=None)

test

,0,1
0,Ukrainian family describes 2 months in mouldy ...,2022-05-07 14:11:38.424549
1,Ukrainian family describes 2 months in mouldy ...,2022-05-07 14:11:38.424549
2,Evacuation efforts go on at Mariupol steel mil...,2022-05-07 14:11:38.424549
3,Shadow's war: A Canadian veteran under fire in...,2022-05-07 14:11:38.424549
4,Russia intensifies attacks on Mariupol,2022-05-07 14:11:38.424549
...,...,...
7340,Trying to avoid palm oil? It's likely in some ...,2023-03-04 08:39:28.583262
7341,Trudeau slaps down questions about public inqu...,2023-03-04 08:39:28.583262
7342,Family speaks out after grandmother left to di...,2023-03-04 08:39:28.583262
7343,These snowmobilers are ready to hit the snow i...,2023-03-04 08:39:28.583262
7344,Canadian speed skaters win women's team pursui...,2023-03-04 08:39:28.583262

In [24]:
test = test.drop_duplicates()
test.columns = ["headline", "date"]

In [26]:
test.loc[test["headline"].str.contains("ukraine", case=False), "ukraine"] = True
test["ukraine"] = test["ukraine"].fillna(False)

test

C:\Users\dexmc\AppData\Local\Temp\ipykernel_10036\2213738151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["ukraine"] = test["ukraine"].fillna(False)

                            headline  ukraine
date
2022-05-07 14:11:38.424549        34       34
2022-05-08 08:40:44.451068        32       32
2022-05-09 08:49:02.303793        32       32
2022-05-11 08:49:32.549626        34       34
2022-05-12 08:48:54.203812        34       34
...                              ...      ...
2023-02-28 08:42:34.761256        34       34
2023-03-01 08:41:27.618384        35       35
2023-03-02 08:42:07.129131        31       31
2023-03-03 08:40:40.005823        33       33
2023-03-04 08:39:28.583262        29       29

[225 rows x 2 columns]